*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    background-image: url();
}

.container{
    max-width: 1140px;
    width: 100%;
    padding: 0px 15px;
    margin: auto;
}
header .logo{
    /* font-weight: 80px; */
    line-height: 0px;
    /* padding: 10px 0px; */
    color: #000;
}
.ibrohimdev{
    padding: 20px;
    height: 120px;
    width: 280px;
    padding-left: 20px;
    margin-left: 40px;
    border-radius: 100px;
}
header nav{
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    right: 0;
    max-width: 1140px;
    width: 100%;
}
header nav ul li{
    margin-top: 30px;
    display: inline-block;
    line-height: 40px;
    padding: 10px 20px;
} 
header nav ul li a{
    font-size: 22px;
    font-weight: 500;
    color: #000;
}
header .header__main{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 300px;
}
header .header__main__img img{
    width: 350px;
    height: 290px;
    border-radius: 50%;
    margin-left: -15%;
    padding-right: 20px;
}
header .header__main__text h1{
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5%;
    color: rgb(13, 13, 144);
    padding-left: 40px;
}
.b1{
    width: 200px;
    height: 50px;
    background-color: rgb(13, 13, 144);
    border: none;
    color: white;
    font-size: 15px;
    margin-top: 10%;
    margin-left: 40px;

}
.header__main__text p{
    font-size: 20px;
    font-family: cursive;
    padding: 10px;
    padding-left: 40px;

}
.header__main__text button{
    border-radius: 20px;
}
nav a{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
.toplam{
    max-width: 1000px;
    margin: auto;
    display: grid;
    margin-left: 150px;
    grid-template-columns: auto auto auto;
    gap: 20px 10px;
}
.toplam_img{
    width: 200px;
    margin: auto;
}
.toplam_img img{
    max-width: 180px;
    margin: auto;
    height: 180px;
    /* margin-left: 10px; */
}
.toplam_img h1{
    color: rgb(13, 13, 144);
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.toplam_img:hover{
    border: 1px solid black;
    border-radius: 10px;
    transition: 2.0s;
}
.toplam_img:hover h1{
    color: black;
    transition: 1.5s;
}
.projects{
    width: 100%;
    margin: auto;
        }
.projects h1{
    color: rgb(13, 13, 144);
    font-size: 30px;
    font-family: monospace;
    text-align: center;
}
.projects_img{
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
}
.projects_img_about{
    width: 470px;
}
.projects_img_about img{
    width: 470px;
    height: 280px;
    border-radius: 15px;
}
.projects_img_about p{
    color: rgb(13, 13, 144);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.projects_img_about button{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid black;
    color: black;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 130px;
    margin-bottom: 20px;
    background-color: rgb(154, 154, 238);
    text-align: center;
}
.projects_img_about:hover{
    border: 1px solid rgb(13, 13, 144);
    border-radius: 15px;
    /* transition: 1.5s; */
}
.projects_img_about:hover p{
    color: gray;
    transition: 1.5s;
}
.projects_img_about button:hover{
    background: gray;
    scale: 1.3;
    border: 1px solid gray;
    transition: 1.5s;
}
.contact {
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    justify-content: center;
}

.contact_se {
    width: 80%;
    height: auto;
    padding:  0px 20px;
}
.contact_se button{
    width: 100%;
    padding: 3px;
    border: 1px solid black;
    color: #FFF;
    transition: .7s;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    background-color: black;
    margin-top: 20px;
    border-radius: 8px;
}
.contact_se button:hover{
   box-shadow: 1px 1px 10px black;
   background: gray;
   color: white;
   font-weight: bold;
   border-radius: 8px;
}
.aloqa_main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.aloqa_main .ism {
    width: 47%;
    border: 1px solid black;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 20px;
    color: black;
    height: 40px;
}

.aloqa_main .gmail {
    width: 47%;
    border: 1px solid black;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 20px;
    color: black;
    height: 40px;
}
.savol{
    width: 98.5%;
    border: 1px solid black;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 20px;
    color: black;
    height: 40px;
}
.fot{
    /* border: black solid 2px; */
    padding: 20px;
}
.matn{
    width: 98.5%;
    border: 1px solid black;
    font-size: 14px;
    padding: 5px;
    color: black;
    height: 140px;
}
.contact-h h1{
    margin-top: 75px;
    text-align: center;
    color: black;
}
footer{
    width: 100%;
    height: 150px;
    background-color: black;
    margin-top: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h2{
    color: gray;
    background-color: black;
}
footer h1{
    color: gray;
    background-color: black;
    margin-top: 8px;
}
footer span{
    background-color: black;
    color: gray;
}
footer .footer-head{
    background-color: black;
}
